/* Web, Linux, & MacOS */
$icons-alt: (
    notifications: 15, keybinds: 16,
    game-activity: 17, text-images: 18,
    appearance: 19, streamer-mode: 20,
    language: 21
);

/* Web & MacOS */
$icons-basic: (
    changelog: 23,
    logout: 26
);