.layer-3QrUeG[aria-label=USER_SETTINGS] .side-8zPYf6 > .item-PXvHYJ, 
#bd-settings-sidebar > span > div > .ui-tab-bar-item {
    display: flex;
    align-items: center;

    &::before {
        content: "";
        width: 22px;
        height: 22px;
        left: 15px;
        margin-right: 6px;
        margin-top: -2px;
        background: var(--settings-icon-color);
        -webkit-mask: var(--icon) center/contain no-repeat;
        mask: var(--icon) center/contain no-repeat;
        --icon: #{svg("./icons/default.svg")};
        flex-shrink: 0;
    }
}
