@import "icon-layout";
@import "icons-default";

// IDs manually scraped from https://github.com/codedotspectra/themes/blob/master/mini-themes/settingsIcons.css

/*
    Variables:
    
    --settings-icon-color: white;
  
    --settings-subscriptions: #80a6ff;
    --settings-hypesquad: #fbb848;
    --settings-logout: #f04747;
*/


/* Platform Specific */
$icons: (
    notifications: 15, text-images: 16,
    appearance: 17, streamer-mode: 18,
    language: 19, changelog: 21,
    logout: 23
);

@each $name, $id in $icons {
    .layer-3QrUeG[aria-label=USER_SETTINGS] .side-8zPYf6 >
    .item-PXvHYJ:nth-child(#{$id})::before {
        --icon: #{svg("./icons/default/" + $name + ".svg")};

        @if $name == logout {
            --settings-icon-color: var(--settings-logout);
        }
    }
}